  .div2{
    background-image: url('../images/entregables/images/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 16%;
  }

  .div2__h4{
    margin-top: 2rem;
    font-weight: bold;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-bottom: 4rem;
  }

  .div2__div{
    width: 55%;
    margin-left: 19%;
  }


  .caja1{
    font-family: $raleway;
    background-color: $blanco;
    height: 435px;
    width: 300px;

    &:hover{
       box-shadow: 2px 4px 10px $gray;
    }
  }

  .caja1__h6{
    padding-top: 3rem;
    margin-left: 2rem;
    font-family: $raleway;
  }

  .caja1__h5{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    font-family: $raleway;
  }

  .caja1__hr{
    margin-left: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }

  .caja1__li{
    margin-left: 2rem;
    font-size: $small;
    margin-bottom: 1rem;
  }

  .caja1__div{
    margin-bottom: 8rem;
  }


  .li2{
    margin-bottom: 2.5rem;
  }
@media only screen and (min-width: 768px){
  .div2{
    background-image: url('../images/entregables/images/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 16%;
  }

  .div2__h4{
    font-weight: bold;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-bottom: 4rem;
  }

  .div2__div{
    width: 55%;
    margin-left: 24%;
  }


  .caja1{
    font-family: $raleway;
    background-color: $blanco;
    height: 435px;
    width: 300px;

    &:hover{
       box-shadow: 2px 4px 10px $gray;
    }
  }

  .caja1__h6{
    padding-top: 3rem;
    margin-left: 2rem;
    font-family: $raleway;
  }

  .caja1__h5{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    font-family: $raleway;
  }

  .caja1__hr{
    margin-left: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }

  .caja1__li{
    margin-left: 2rem;
    font-size: $small;
    margin-bottom: 1rem;
  }

  .caja1__div{
    margin-bottom: 8rem;
  }


  .li2{
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 992px){
  .div2{
    background-image: url('../images/entregables/images/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 16%;
  }

  .div2__h4{
    font-weight: bold;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-bottom: 4rem;
  }

  .div2__div{
    width: 55%;
    margin-left: 24%;
  }


  .caja1{
    font-family: $raleway;
    background-color: $blanco;
    height: 435px;
    width: 300px;

    &:hover{
       box-shadow: 2px 4px 10px $gray;
    }
  }

  .caja1__h6{
    padding-top: 3rem;
    margin-left: 2rem;
    font-family: $raleway;
  }

  .caja1__h5{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    font-family: $raleway;
  }

  .caja1__hr{
    margin-left: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }

  .caja1__li{
    margin-left: 2rem;
    font-size: $small;
    margin-bottom: 1rem;
  }

  .caja1__div{
    margin-bottom: 8rem;
  }


  .li2{
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 1360px){
    .div2{
    background-image: url('../images/entregables/images/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 16%;
  }

  .div2__h4{
    font-weight: bold;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-bottom: 4rem;
  }

  .div2__div{
    width: 55%;
    margin-left: 24%;
  }


  .caja1{
    font-family: $raleway;
    background-color: $blanco;
    height: 435px;
    width: 300px;

    &:hover{
       box-shadow: 2px 4px 10px $gray;
    }
  }

  .caja1__h6{
    padding-top: 3rem;
    margin-left: 2rem;
    font-family: $raleway;
  }

  .caja1__h5{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    font-family: $raleway;
  }

  .caja1__hr{
    margin-left: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
  }

  .caja1__li{
    margin-left: 2rem;
    font-size: $small;
    margin-bottom: 1rem;
  }

  .caja1__div{
    margin-bottom: 8rem;
  }


  .li2{
    margin-bottom: 2.5rem;
  }
}
