  .container-2{
    margin-left: 9%;
    margin-right: 0;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .cnter__h2{
    margin-bottom: 5rem;
    text-align: center;
    font-weight: $bold;
  }

  .cnter__div2__h5{
    margin-bottom: 1rem;
    font-weight: $bold;
  }

  .cnter__div2__p{
    line-height: 1.5rem;
  }

  @keyframes mover {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .estadistica{
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 10%;
    width: 100%;
  }

@media only screen and (min-width: 768px){
  .container-2{
    margin-left: 9%;
    margin-right: 0;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .cnter__h2{
    margin-bottom: 5rem;
    text-align: center;
    font-weight: $bold;
  }

  .cnter__div2__h5{
    margin-bottom: 1rem;
    font-weight: $bold;
  }

  .cnter__div2__p{
    line-height: 1.5rem;
  }

  @keyframes mover {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .estadistica{
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 10%;
    width: 100%;
  }
}
@media only screen and (min-width: 992px){
  .container-2{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cnter__h2{
    margin-bottom: 5rem;
    text-align: center;
    font-weight: $bold;
  }

  .cnter__div2__h5{
    margin-bottom: 1rem;
    font-weight: $bold;
  }

  .cnter__div2__p{
    line-height: 1.5rem;
  }

  @keyframes mover {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .estadistica{
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 0;
    width: 100%;
  }

}
@media only screen and (min-width: 1360px){

.cnter__div2{
  margin-top: 2rem;
}

  .container-2{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cnter__h2{
    margin-bottom: 5rem;
    text-align: center;
    font-weight: $bold;
  }

  .cnter__div2__h5{
    margin-bottom: 1rem;
    font-weight: $bold;
  }

  .cnter__div2__p{
    line-height: 1.5rem;
  }

  @keyframes mover {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .estadistica{
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-left: 0;
    width: 100%;
  }

}
